@import "../../../styles/core.scss";

.detail-book-container {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;

  @media screen and (max-width:560px) {
    padding:1.5rem 1rem;
 }

  .detail-book-content-container {
    width: 80%;
    background-color: $white-clr;
    padding: 1.2rem;
    display: flex;
    align-items: flex-start;
    column-gap: 2rem;
    border-radius: 12px;

    @media screen and (max-width:980px) {
       width:100%;
    }

    @media screen and (max-width:560px) {
      width:100%;
      flex-direction: column;
      row-gap:1.5rem;
   }

    img {
      width: 220px;

      @media screen and (max-width:560px) {
        width:100%;
        flex-direction: column;
     }
    }

    .description-book {
      .book-detail-desc {
        margin-top: 1.2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.6rem;
        column-gap: 3rem;

        .detail-desc-item {
          h6 {
            font-size: 0.8rem;
            font-weight: 400;
            color: $secondary-text-clr;
          }

          h5 {
            font-weight: 500;
            font-size: 0.9rem;
            margin: 0.3rem 0 0;

            @media screen and (max-width:560px) {
               font-size:0.85rem;
           }
          }
        }
      }

      p {
        font-size: 0.8rem;
        color: $secondary-text-clr;
        margin-top: 1.5rem;
      }

      .detail-book-action {
        button,a {
          font-size: 0.85rem;
          flex: 1;
          color: $white-clr;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          font-weight: 500;
          text-decoration: none;
          text-align: center;
        }

        .book-action-delete {
          background-color: $primary-clr;
          margin-right: 0.5rem;
        }

        .book-action-update {
          background-color: #16a34a;
          text-decoration: none;
          color:$white-clr;
        }
      }
    }
  }
}
