
.main-auth-container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;

    @media screen and (max-width:560px) {
        padding:1.5rem;
    }
}