@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./variable.scss";
@import "./components.scss";
@import "./general_style.scss";

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: #f1f2f6;
}

input,textarea {
    outline:none;
}

button {
    border:none;
    outline:none;
    background:transparent;
    cursor:pointer;
}